<h1>Home#about</h1>
<p>Find me in app/views/home/about.html.erb</p>


<div class="center-xy">
  <span class="sub-title">Click anywhere to animate the title</span>
  <h1 class="titler active">Animated Title</h1>
</div>


<% @content.each do |type| %>


<h1><%= type.Name %></h1>

<p><%= type.Desc %></p>

<% end %>
