<div class="row">
    <div class="col-md-12">
        <div class="input-group">
            <div class="input-group-btn search-panel">
              <div class="dropdown">
                <select name="genre" id="genre" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <option value="Genre">Genre</option>
                    <option value="Action">Action</option>
                    <option value="Adventure">Adventure</option>
                    <option value="Strategy">Strategy</option>
                    <option value="MMO">MMO</option>
                    <option value="RPG">RPG</option>
                    <option value="FPS">FPS</option>
                    <option value="RTS">RTS</option>
                    <option value="Fighting">Fighting</option>
                    <option value="Racing">Racing</option>
                    <option value="Simulation">Simulation</option></select>
                </select>
              </div>
            </div>

            <input type="hidden" name="search_param" value="all" id="search_param">
            <input type="text" class="form-control" name="x" placeholder="Search term...">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button>
            </span>
        </div>
    </div>
</div>
